*.o
*.so
*.lo
*.la
.deps
.libs
.dirstamp
core.[0-9]*
core
mod.log
junk
monitor
test
blread
endpoint
*.log
*.bin
merlind
*test
version.c
mtest
check_latency
start.sh
postgres.sh
funused.sh
test-hash
test-csync
bltest
sltest
test-lparse
import
showlog
keygen
*.pyc
oconf
test-dbwrap
ocimp
entries.sh
ca-debug.py
data/merlin.conf
.lock*
rename
install-merlin.sh
apps/op5
/Documentation
*.swp
*~
TAGS
INSTALL
Makefile.in
Makefile
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
libtool
ltmain.sh
py-compile
test-driver
config.guess
config.h
config.h.in
config.status
config.sub
merlincat$
/tests/merlincat/nebev-col2key.gperf
/tests/merlincat/nebev-col2key.[ch]
/tests/merlincat/nebev2kvvec.[ch]
/tests/merlincat/kvvec2nebev.[ch]
/*.trs

/cukemerlin
/merlincat
/apps/libexec/restart.sh
apps/tests/oconf-poller-fix/fixme.cfg
apps/tests/oconf-poller-fix/fixed-config.cfg-first
m4/*.m4
sudo/merlin
.DS_Store
.pydevproject
merlind.service
